*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: black;
     display: flex;
    align-items: center;
    justify-content: center;
}

.game{
    width: 80vw;
    height: 80vh;
    max-width: 450px;
    background-color: rgb(26, 31, 36);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.hand{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 80px;
    position: relative;
} 

.you{
    text-shadow: 2px 2px 10px rgba(59,135,197,0.8), -2px -2px 10px rgba(187,71,205,0.8);;
}

.computer{
    text-shadow: 2px 2px 10px rgba(222,150,16,0.8), -2px -2px 10px rgba(222,50,16,0.8);;
}

.choices{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.choice{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.8), -2px -2px 10px rgba(0,0,0,0.8);
    font-size: 20px;
    transition: all 0.5s;
    cursor: pointer;
    text-shadow: 2px 2px 10px rgba(59,135,197,0.8), -2px -2px 10px rgba(187,71,205,0.8);
}

.choice:hover{
    box-shadow: 2px 2px 10px rgba(59,135,197,0.8), -2px -2px 10px rgba(187,71,205,0.8);
}

.result{
    width: 70%;
    height: 10%;
    background-color: transparent;
    margin-top: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading{
    width: 100%;
    height: 15%;
    position: absolute;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 20px;
}
.you-heading, .computer-heading{
    width: 30%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.8), -2px -2px 10px rgba(0,0,0,0.8);  
}

.you-heading{
    color: rgba(16,198,222,0.8);
}

.computer-heading{
    color: rgba(222,50,16,0.8);
}


/* @keyframes shake {
    0%,50%,100%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(20px);
    }
    75%{
        transform: translateY(-20px);
    }
} */